

body {
    margin: 0;
    padding: 0;
    background-image: 
        linear-gradient(
            to bottom, 
            rgba(255, 255, 255, 0) 25%, /* No gradient at the top part */
            rgba(255, 255, 255, 0.9) 35%, /* Light overlay in the middle */
            rgba(255, 255, 255, 0) 55%   /* Fade back to no gradient at the bottom */
        ),
        url(background.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%
    height: 116px;
    margin: 0 auto;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    background-color: #edf9fe;
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
    width: 100%;
    background-color: #edf9fe;
    padding-left: 0;
    margin: 0;    
}



.menu ul li{
    list-style: none;
    margin-top: 0px;
    font-size: 20px;   
}


.menu ul li a{
    display: block;
    text-decoration: none;
    color: #0b4066;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.menu ul li a:hover{
    color: #df7008;
}

.page-title {
    text-align: center;
    font-size: 32px;  /* Adjust as needed */
    color: #0b4066;   
    margin-top: 20px; /* Add space above the title */
}


.about-content{
    
        text-align: center;  
        font-weight: 500;     
        margin: 0 auto;           
        padding: 0 20px;          /* Adds space on left and right */
        max-width: 800px;         
        color: #222222;           /* text color - contrast to light backgraound */
        line-height: 1.6;         
    }




.about-content ul {

      display: block;  
      padding-left: 20px;  
       

  }
  
  
.about-content ul li {

    margin: 5px 0; /* Add spacing between items */
    list-style: none; 

}

.contact{
    
  text-align: center;  
  font-weight: bold;     
  margin: 0 auto;           
  padding: 0 20px;          /* Adds space on left and right */
  max-width: 800px;         
  color: #222222;           /* text color - contrast to light backgraound */
  line-height: 1.6;         
}

.contact ul li {
  list-style: none;
  margin-left: -40px;

}


.bullet-point {
        text-align: center;  
        font-weight: 500;     
        margin: 0 auto;           
        padding: 0 20px;          /* Adds space on left and right */
        max-width: 800px;         
        color: #222222;           /* text color - contrast to light backgraound */
        line-height: 1.6;         
    }

    .bullet-point-list ul {
      list-style-type: disc; /* Add bullets */
      padding-left: 40px; /* Space for bullet indentation */
      margin: 10px 0; /* Optional: Spacing above and below the list */
    }
    
    .bullet-point-list ul li {
      margin: 5px 0; /* Optional: Space between items */
    }

.socials {

  text-align: center;
  font-size: 64px;


} 

.social-icon {
  
  color: #0b4066;
  transition: color 0.2s ease;
  margin: 0 30px;
  text-decoration: none;
  

}

.social-icon:hover {
  color:#df7008
}




img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.styled-hr {
  border: none;
  border-top: 1px solid black; 
  margin: 20px 0;     
}

.business-hours {
  font-family: Arial, sans-serif;
  background-color: transparent;
  padding: 15px;
  max-width: 400px; /* Adjust width as needed */
  margin: 20px auto;
  border-radius: 5px;
}

.business-hours h3 {
  text-align: center;
  color: #0b4066;
  margin-bottom: 10px;
}

.business-hours ul {
  list-style: none;
  padding: 0;
}

.business-hours li {
  display: flex;
  justify-content: space-between; /* Align day and time on opposite sides */
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 1px solid black;
}

.business-hours li:last-child {
  border-bottom: none;
}

.business-hours .day {
  color: #0b4066; /* Color for the day names */
}

.business-hours .time {
  color: #0b4066; /* Color for the time */
}



        
        body {
      font-family: Arial, sans-serif;
    }
    
    
    H1{
        display: block;
        width: 100%;
        text-align: center;
        margin:0px;
        margin-top:-30px;
        color:#0b4066;               
        background-color: #b9cbe4;
        font-size: 35px;
        line-height:116px;
        font-weight:bold;
 }



.parent-container {
  display: flex;                
  flex-direction: column;                  
  width: 100%;                  
  max-width: 850px;             
  height: auto;                 
  margin: 0 auto;   
}

.home-title {
    display: none;
    text-align: right;
    font-size: 32px;  /* Adjust as needed */
    color: #0b4066;   
    margin-top: 0px; /* Add space above the title */
}


.home-content {
    position: absolute; 
    top: 540px; 
    left: 1040px;
    transform: translateX(-50%); 
    font-size: 20px;
    font-weight: bold; 
    color: #0b4066; 
    text-align: justify;
    max-width: 666px;
    width: 100%;
    white-space: normal;
}


.plan-text {
    position: absolute; 
    top: 400px; 
    left: 1035px; 
    transform: translateX(-50%); 
    font-size: 56px;
    font-weight: bold; 
    color: #0b4066; 
    text-align: center;
    white-space: nowrap;
}






.dropdown {
    position: absolute;
    top: 485px;
    left: 700px;
    width: 666px; 
    height: 88px; 
    background-color: #0b4066;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 30px; 
    cursor: pointer;
    padding: 0 20px; 
    box-sizing: border-box;
    transition: background-color 0.1s ease; 
}

.dropdown:hover {
    background-color: #0b4066; 
}


.dropdown-header {
    font-size: 26px; 
    font-weight: bold;
    color: white;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: color 0.3s ease;
}

.dropdown:hover .dropdown-header {
    color: white; 
}


.chevron {
    position: absolute;
    right: 20px;
    font-size: 1.5rem; 
    pointer-events: none; 
    transition: transform 0.3s ease;
}

.dropdown.active .chevron {
    transform: rotate(180deg); 
}


.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    visibility: hidden; 
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
    z-index: 1;
}


.dropdown.active .dropdown-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}


.dropdown-list-item {
    padding: 15px 20px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-list-item:hover {
    background-color: #f1f1f1; 
    color: #0b4066; 
}


.dropdown-list-item a {
    text-decoration: none;
    color: #0b4066;
}

.dropdown-list-item a:hover {
    color: #df7008; 
}






.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.container form {
  width: 670px;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  flex-wrap: wrap;
  padding: 20px;
  margin-top: -100px;
}
.container form h1 {
  color:  #0b4066;
  font-weight: 700;
  line-height: 2;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}
.container form input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  background: none;
  border-bottom: 2px solid  #0b4066;
  color:  #0b4066;
}
.container form input::placeholder {
  color:  #0b4066;
}
.container form #lastName,
.container form #mobile {
  margin-left: 20px;
}
.container form h4 {
  color:  #0b4066;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}
.container form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid  #0b4066;
  color:  #0b4066;
  font-weight: 200;
  font-size: 20px;
  padding: 10px;
  outline: none;
  min-height: 90px;
  max-height: 90px;
  min-width: 620px;
  max-width: 620px;
}
.container form h4 {
  font-size: 20px;
  margin-right: 25px;
}

.container form label {
  color: #0b4066;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 60px;
}

.container form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%; /* Circular checkbox */
  background-color: #fff;
  border: 2px solid #0b4066;
  cursor: pointer;
  vertical-align: middle; /* Align with the label text */
  transition: background-color 0.2s;
}

.container form input[type="checkbox"]:checked {
  background-color: #0b4066;
}

.container form #button {
  border: none;
  background:  #0b4066;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #df7008;
  width: 200px;
  height: 60px;
  padding: 0;
  margin-bottom: 30px;
  transition: 0.3s;
}

.container form #button:hover{
    background: #df7008;
    color:  #0b4066;
    transition: .5s ease-in-out;
}

.container-2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.container-2 form {
  width: 670px;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  flex-wrap: wrap;
  padding: 20px;
  margin-top: -300px;
}
.container-2 form h1 {
  color:  #0b4066;
  font-weight: 700;
  line-height: 2;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}
.container-2 form input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
  background: none;
  border-bottom: 2px solid  #0b4066;
  color:  #0b4066;
}
.container-2 form input::placeholder {
  color:  #0b4066;
}
.container-2 form #lastName,
.container-2 form #mobile {
  margin-left: 20px;
}
.container-2 form h4 {
  color:  #0b4066;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}
.container-2 form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid  #0b4066;
  color:  #0b4066;
  font-weight: 200;
  font-size: 20px;
  padding: 10px;
  outline: none;
  min-height: 90px;
  max-height: 90px;
  min-width: 620px;
  max-width: 620px;
}
.container-2 form h4 {
  font-size: 20px;
  margin-right: 25px;
}

.container-2 form label {
  color: #0b4066;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 60px;
}

.container-2 form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%; /* Circular checkbox */
  background-color: #fff;
  border: 2px solid #0b4066;
  cursor: pointer;
  vertical-align: middle; /* Align with the label text */
  transition: background-color 0.2s;
}

.container-2 form input[type="checkbox"]:checked {
  background-color: #0b4066;
}

.container-2 form #button {
  border: none;
  background:  #0b4066;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #df7008;
  width: 200px;
  height: 60px;
  padding: 0;
  margin-bottom: 30px;
  transition: 0.3s;
}

.container-2 form #button:hover{
    background: #df7008;
    color:  #0b4066;
    transition: .5s ease-in-out;
}


.hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
    margin-top: 10px;
}

.hamburger div {
    width: 53px;
    height: 6px;
    background-color: #0B4066;
    border-radius: 30px;
    margin-bottom: 15px;
}

.hmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #B9CBE4;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
}

.hmenu.active {
    transform: translateX(0);
}

.hmenu ul {
    list-style: none;
    padding: 120px 20px 20px;
    margin: 0;
}

.hmenu ul li {
    margin-bottom: 25px;
    border-bottom: 1px solid #0B4066;
    padding-bottom: 25px;
}

.hmenu ul li:last-child {
    border-bottom: none; 
}

.hmenu ul li a {
    text-decoration: none;
    color: #0B4066;
    font-size: 24px;
    font-weight: bold;
    transition: margin-left 0.6s ease, color 0.6s ease;
}

.hmenu ul li a:visited,
.hmenu ul li a:hover,
.hmenu ul li a:active {
    color: #0B4066;
    margin-left: 1.0rem;
}

.hmenu ul li ul.submenu {
    display: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, padding 0.6s ease;
    padding-left: 0px;
    margin-top: -140px;
}

.hmenu ul li ul.submenu li {
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
    padding-top: 35px;
}

.hmenu ul li ul.submenu.show,
.hmenu ul li:hover ul.submenu {
    display: block; 
    max-height: 310px;
    margin-top: -140px;
}

.hmenu ul li ul.submenu li a:hover,
.hmenu ul li ul.submenu li a:focus {
    color: #EA830D;
}



.globe {
  color:#df7008;
  font-size: 40px;
  margin-top: 50px;
}

#btnScroll{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:#0b4066;
  color:#df7008;
  outline: none;
  cursor: pointer;
  border: none;
}

#btnScroll:active {
  background:#df7008;
  color:#0b4066;
}
